/* -------------------------------------------------------------------------------- Left buttons */
.leftBtn {
	-fx-background-color: transparent;
	-fx-background-size: 20;
	-fx-background-position: center;
	background-color: transparent;
	background-size: 20;
	background-position: center;
}

#exportBtn {
	-fx-background-image: url(../../graphics/exportLight.png);
	background-image: url(../../graphics/exportLight.png);
}
#exportBtn:hover {
	-fx-background-image: url(../../graphics/exportDark.png);
	background-image: url(../../graphics/exportDark.png);
}
#importBtn {
	-fx-background-image: url(../../graphics/importLight.png);
	background-image: url(../../graphics/importLight.png);
}
#importBtn:hover {
	-fx-background-image: url(../../graphics/importDark.png);
	background-image: url(../../graphics/importDark.png);
}
#deleteBtn {
	-fx-background-image: url(../../graphics/deleteLight.png);
	background-image: url(../../graphics/deleteLight.png);
}
#deleteBtn:hover {
	-fx-background-image: url(../../graphics/deleteDark.png);
	background-image: url(../../graphics/deleteDark.png);
}
#logoutBtn {
	-fx-background-image: url(../../graphics/logoutLight.png);
	background-image: url(../../graphics/logoutLight.png);
}
#logoutBtn:hover {
	-fx-background-image: url(../../graphics/logoutDark.png);
	background-image: url(../../graphics/logoutDark.png);
}

#settingBtn {
    -fx-background-color: transparent;
	-fx-background-size: 25;
	-fx-background-position: center;
	-fx-background-image: url(../../graphics/settingLight.png);
    background-color: transparent;
	background-size: 25;
	background-position: center;
	background-image: url(../../graphics/settingLight.png);
}
#settingBtn:hover {
	-fx-background-image: url(../../graphics/settingDark.png);
	background-image: url(../../graphics/settingDark.png);
}

/* ----------------------------------------------------------------------------------- Left Side */
#statisticCard {
    -fx-background-image: url(../../graphics/statCard.png);
	-fx-background-size: cover;
	background-image: url(../../graphics/statCard.png);
	background-size: cover;
}
#pfp {
    -fx-image: url(../../graphics/pfp.jpg);
}
.cardText {
    -fx-font-size: 12px;
	-fx-fill: #000000;
	font-size: 12px;
	fill: #000000;
}

#notice {
	-fx-background-image: url(../../graphics/gradeNotice.png);
	-fx-background-size: cover;
	-fx-label-padding: 10;
	background-image: url(../../graphics/gradeNotice.png);
	background-size: cover;
}

/* ---------------------------------------------------------------------------------- Right Side */
.inClass {
	-fx-font-size: 10px;
	-fx-letter-spacing: 2px;
	-fx-fill: #000000;
	font-size: 10px;
	letter-spacing: 2px;
	fill: #000000;
}

.tempText {
	-fx-background-color: rgba(0, 224, 224, 0.25);
	background-color: rgba(224, 224, 224, 0.25);
}