
/* Left buttons */
.leftBtn {
	-fx-background-color: transparent;
	-fx-background-size: 20;
	-fx-background-position: center;
	background-color: transparent;
	background-size: 20;
	background-position: center;
}

#exportBtn {
	-fx-background-image: url(../../graphics/exportLight.png);
	background-image: url(../../graphics/exportLight.png);
}
#exportBtn:hover {
	-fx-background-image: url(../../graphics/exportDark.png);
	background-image: url(../../graphics/exportDark.png);
}
#importBtn {
	-fx-background-image: url(../../graphics/importLight.png);
	background-image: url(../../graphics/importLight.png);
}
#importBtn:hover {
	-fx-background-image: url(../../graphics/importDark.png);
	background-image: url(../../graphics/importDark.png);
}
#deleteBtn {
	-fx-background-image: url(../../graphics/deleteLight.png);
	background-image: url(../../graphics/deleteLight.png);
}
#deleteBtn:hover {
	-fx-background-image: url(../../graphics/deleteDark.png);
	background-image: url(../../graphics/deleteDark.png);
}
#logoutBtn {
	-fx-background-image: url(../../graphics/logoutLight.png);
	background-image: url(../../graphics/logoutLight.png);
}
#logoutBtn:hover {
	-fx-background-image: url(../../graphics/logoutDark.png);
	background-image: url(../../graphics/logoutDark.png);
}

#settingBtn {
    -fx-background-color: transparent;
	-fx-background-size: 25;
	-fx-background-position: center;
	-fx-background-image: url(../../graphics/settingLight.png);
    background-color: transparent;
	background-size: 25;
	background-position: center;
	background-image: url(../../graphics/settingLight.png);
}
#settingBtn:hover {
	-fx-background-image: url(../../graphics/settingDark.png);
	background-image: url(../../graphics/settingDark.png);
}

/* Stat card */
#statCard {
    -fx-image: url(../../graphics/statCard.png);
}
#pfp {
    -fx-image: url(../../graphics/pfp.jpg);
}
.cardText {
    -fx-font-size: 12px;
	-fx-fill: #000000;
	font-size: 12px;
	fill: #000000;
}

/*  */
.inClass {
	-fx-font-size: 10px;
	-fx-letter-spacing: 2px;
	-fx-fill: #000000;
	font-size: 10px;
	letter-spacing: 2px;
	fill: #000000;
}

.inClass .text-field {
	-fx-background-color: rgba(0, 224, 224, 0.5);
	background-color: rgba(224, 224, 224, 0.5);
}
.inClass .choice-box {
	-fx-background-color: rgba(224, 224, 224, 0.5);
	background-color: rgba(224, 224, 224, 0.5);
}

.gradePercent {
	-fx-background-color: rgba(224, 224, 224, 0.5);
	-fx-alignment: center-right;
	background-color: rgba(224, 224, 224, 0.5);
}