#loginBg {
    -fx-background-image: url(../../graphics/loginBG.png);
    -fx-background-position: center;
    -fx-background-size: stretch;
	background-image: url(../../graphics/loginBG.png);
    background-position: center;
    background-size: stretch;
}
#noticeImg {
    -fx-image: url(../../graphics/loginNotice.png);
}

.noticeOn {
    -fx-visibility: visible;
    visibility: visible;
}
.noticeOff {
    -fx-visibility: hidden;
    visibility: hidden;
}