#loginBg {
    -fx-background-image: url(../../graphics/loginBG.png);
    -fx-background-position: center;
    -fx-background-size: stretch;
	background-image: url(../../graphics/loginBG.png);
    background-position: center;
    background-size: stretch;
}
#notice {
    -fx-background-image: url(../../graphics/loginNotice.png);
    -fx-background-size: cover;
	-fx-label-padding: 10 10 10 35;
    background-image: url(../../graphics/loginNotice.png);
    background-size: cover;
}

.noticeOn {
    -fx-visibility: visible;
    visibility: visible;
}
.noticeOff {
    -fx-visibility: hidden;
    visibility: hidden;
}