/* Title bar */
#titleBar {
	-fx-background-color: #777777;
	background-color: #777777;
}

/* Left side */
#titleBarTitle {
	-fx-font-size: 14px;
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	fill: #ffffff;
}
#titleBarLogo {
	-fx-image: url(../../graphics/logo.png);
}

/* Right side */
.titleBarBtn {
	-fx-background-color: transparent;
	-fx-background-size: 16;
	-fx-background-position: top center;
	background-color: transparent;
	background-size: 16;
	background-position: top center;
}

#minBtn {
	-fx-background-image: url(../../graphics/min.png);
	background-image: url(../../graphics/min.png);
}
#maxBtn {
	-fx-background-image: url(../../graphics/max.png);
	background-image: url(../../graphics/max.png);
}
.restoreMode {
	-fx-background-image: url(../../graphics/restore.png);
	background-image: url(../../graphics/restore.png);
}
.maxMode {
	-fx-background-image: url(../../graphics/max.png);
	background-image: url(../../graphics/max.png);
}
#exitBtn {
	-fx-background-image: url(../../graphics/exit.png);
	background-image: url(../../graphics/exit.png);
}

/* Set all window handles transparent */
.windowHandle {
	-fx-fill: "transparent";
	-fx-stroke: "transparent";
	fill: "transparent";
	stroke: "transparent";
}